<!-- Navbar (sit on top) -->
<div class="w3-top">

        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
          <a href="#home" class="w3-bar-item w3-button"><b>DONALD</b>  DESIGNS </a>
          
        
          <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
          
          
          
          
          
            <a href="home" class="w3-bar-item w3-button">Home</a> 
            <a href="cart" class="w3-bar-item w3-button">Purchase</a>
            <a href="login" class="w3-bar-item w3-button">Sign In</a>
          </div>
        </div> 
      </div> 


      