
  <!-- Navbar (sit on top) -->
 <div class="w3-top">

  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>DONALD</b>  DESIGNS </a>
    
  
    <!-- Float links to the right. Hide them on small screens -->
  <div class="w3-right w3-hide-small">
    
    
    
    
    
      <a href="home" class="w3-bar-item w3-button">Home</a> 
       <a href="home" class="w3-bar-item w3-button">Sign Out</a>
    </div>
  </div> 
</div> 
  <main>
    <div class="basket">
      <div class="basket-module">
        <label for="promo-code">Enter a promotional code</label>
        <input id="promo-code" type="text" name="promo-code" maxlength="5" class="promo-code-field">
        <button class="promo-code-cta">Apply</button>
      </div>
      <div class="basket-labels">
        <ul>
         <b> <li class="item item-heading">Item</li>
          <li class="price">Price</li>
          <!-- <li class="confirm">Confirm</li> -->
          <!-- <li class="quantity">Quantity</li> -->
          <!-- <li class="subtotal">Subtotal</li> -->
        </b>
        </ul>
      </div>
      <div class="basket-product">
        <div class="item">
          <div class="product-image">
            <img src="\assets\OnlineFoodDelivery\Home.png" alt="Placholder Image 2" class="product-frame">
          </div>
          <div class="product-details">
            <h1><strong><span class="item-quantity"></span></strong> Online Food Delivery</h1>
            <!-- <p><strong>Navy, Size 18</strong></p> -->
            <p>Product Code - 232321939</p>
          </div>
        </div>
        <div class="price">26.00</div>
        <!-- <div class="confirm"><button class="submit" type="submit" >Confirm</button></div>  -->
        <!-- <div class="quantity">
          <input type="number" value="4" min="1" class="quantity-field">
        </div> -->

       
     
         
        
        <!-- <div class="subtotal">104.00</div> -->
        
        <div class="remove">
          <button>Remove</button>
        </div>
      </div>
      <div class="basket-product">
          <div class="item">
            <div class="product-image">
              <img src="\assets\GroceryCart\Category.png" alt="Placholder Image 2" class="product-frame">
            </div>
            <div class="product-details">
              <h1><strong><span class="item-quantity"></span>  </strong> Online Grocery Cart</h1>
              <!-- <p><strong>Navy, Size 18</strong></p> -->
              <p>Product Code - 232321939</p>
            </div>
          </div>
          <div class="price">26.00</div>
          <!-- <div class="subtotal"><button class="submit" type="submit" >Confirm</button></div> -->
          
          
          <!-- <div class="quantity">
            <input type="number" value="4" min="1" class="quantity-field">
          </div> -->
          
          <!-- <div class="subtotal">104.00</div> -->
          <div class="remove">
            <button>Remove</button>
          </div>
        </div>
      <div class="basket-product">
          <div class="item">
            <div class="product-image">
              <img src="\assets\ContentManagment\ScribbleUpHome.png" alt="Placholder Image 2" class="product-frame">
            </div>
            <div class="product-details">
              <h1><strong><span class="item-quantity"></span></strong> Content Management System </h1>
              <!-- <p><strong>Navy, Size 18</strong></p> -->
              <p>Product Code - 232321939</p>
            </div>
          </div>
          <div class="price">26.00</div>
          <!-- <div class="subtotal"><button class="submit" type="submit" >Confirm</button></div> -->
          <!-- <div class="quantity">
            <input type="number" value="4" min="1" class="quantity-field">
          </div> --> 
         
          <!-- <div class="subtotal">104.00</div> -->
          <div class="remove">
            <button>Remove</button>
          </div>
        </div>
      <div class="basket-product">
        <div class="item">
          <div class="product-image">
            <img src="\assets\NetBanking\home.png" alt="Placholder Image 2" class="product-frame">
          </div>
          <div class="product-details">
            <h1><strong><span class="item-quantity"></span> </strong> Online Net Banking</h1>
            <!-- <p><strong>Navy, Size 10</strong></p> -->
            <p>Product Code - 232321939</p>
          </div>
        </div>
        <div class="price">26.00</div>
        <!-- <div class="subtotal"><button class="submit" type="submit" >Confirm</button></div> -->
        <!-- <div class="quantity">
          <input type="number" value="1" min="1" class="quantity-field">
        </div> -->
       
         
        <!-- <div class="subtotal">26.00</div> -->
        <div class="remove">
          <button>Remove</button>
        </div>
      </div>
    </div>
    <aside>
      <div class="cart">
      <div class="summary">
        <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
        <div class="summary-subtotal">
          <div class="subtotal-title">Subtotal</div>
          <div class="subtotal-value final-value" id="basket-subtotal">130.00</div>
          <div class="summary-promo hide">
            <div class="promo-title">Promotion</div>
            <div class="promo-value final-value" id="basket-promo"></div>
          </div>
        </div>
        <!-- <div class="summary-delivery">
          <select name="delivery-collection" class="summary-delivery-selection">
              <option value="0" selected="selected">Select Collection or Delivery</option>
             <option value="collection">Collection</option>
             <option value="first-class">Royal Mail 1st Class</option>
             <option value="second-class">Royal Mail 2nd Class</option>
             <option value="signed-for">Royal Mail Special Delivery</option>
          </select>
        </div> -->
        <div class="summary-total">
          <div class="total-title">Total</div>
          <div class="total-value final-value" id="basket-total">92.00</div>
        </div>
        <div class="summary-checkout">
          <button class="checkout-cta">Go to Secure Checkout</button>
        </div>
      </div>
    </div>
    </aside>
  </main>
