<!-- Navbar (sit on top) -->
<div class="w3-top">

    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="#home" class="w3-bar-item w3-button"><b>DONALD</b>  DESIGNS </a>
      
  
     <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
	
	
	
	
	
        <a href="home" class="w3-bar-item w3-button">Home</a>
        
        <a href="cart" class="w3-bar-item w3-button">Purchase</a>
        <a href="login" class="w3-bar-item w3-button">Sign In</a>
      </div>
    </div>
  </div>
  

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

    <!-- Header -->
    <div class="w3-opacity">
    <!-- <span class="w3-button w3-xxlarge w3-white w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></span> -->
        <span class="w3-button w3-xlarge w3-white w3-right">Sign In</span>
        <span class="w3-button w3-xlarge w3-white w3-right">Home</span>
        <div class="w3-clear"></div>
            <header class="w3-center w3-margin-bottom">
      
                <p><h2><b>CheckOut The Newest Photography Here...</b></h2>
                <!-- <p class="w3-padding-16"><button class="w3-button w3-black" onclick="myFunction()">Toggle Grid Padding</button></p> -->
            </header>
    </div>
    
    <!-- Photo Grid -->
    <div class="w3-row" id="myGrid" style="margin-bottom:128px">
        <div class="w3-third">
        
            <img src="https://s3.envato.com/files/277456499/DSC_8858111.jpg" style="width:100%">
            <h5 class="w3-opacity">&nbsp; $19</h5>    
            <button class="w3-button w3-right w3-grey w3-margin-bottom">Purchase</button>
            <p class="w3-large">&nbsp;<a href="cart"><i class="fa fa-shopping-cart" style="font-size:30px;color:black;"> </i></a> </p>
       
            <img src="https://s3.envato.com/files/277715807/25621128-SIR09525.JPG" style="width:100%">
            <h5 class="w3-opacity">&nbsp; $1</h5>   
            <button class="w3-button w3-right w3-grey w3-margin-bottom">Purchase</button>
            <p class="w3-large">&nbsp;<a href="cart"></a><i class="fa fa-shopping-cart" style="font-size:30px;color:black;"> </i> </p>
            <img src="https://s3.envato.com/files/277712810/stevanzz_03471.jpg" style="width:100%">
            <h5 class="w3-opacity">&nbsp; $18</h5>
            <button class="w3-button w3-right w3-grey w3-margin-bottom">Purchase</button>
            <p class="w3-large">&nbsp;<a href="cart"></a><i class="fa fa-shopping-cart" style="font-size:30px;color:black;"> </i> </p>
            <img src="https://s3.envato.com/files/277723819/1L9A4517_.jpg" style="width:100%">
            <h5 class="w3-opacity">&nbsp; $6</h5><button class="w3-button w3-right w3-grey w3-margin-bottom">Purchase</button>
            <p class="w3-large">&nbsp;<a href="cart"></a><i class="fa fa-shopping-cart" style="font-size:30px;color:black;"> </i> </p>
            <img src="https://s3.envato.com/files/277730940/20932.jpg" style="width:100%">
            <h5 class="w3-opacity">&nbsp; $11</h5><button class="w3-button w3-right w3-grey w3-margin-bottom">Purchase</button>
            <p class="w3-large">&nbsp;<a href="cart"></a><i class="fa fa-shopping-cart" style="font-size:30px;color:black;"> </i> </p>
            <img src="https://s3.envato.com/files/277766313/IMG_2192.jpg" style="width:100%">
            <h5 class="w3-opacity">&nbsp; $9</h5><button class="w3-button w3-right w3-grey w3-margin-bottom">Purchase</button>
            <p class="w3-large">&nbsp;<a href="cart"></a><i class="fa fa-shopping-cart" style="font-size:30px;color:black;"> </i> </p>
        </div>
    
        <div class="w3-third">
            <img src="https://s3.envato.com/files/277740207/Girl%20on%20boardwalk_191217183339_0.jpg" style="width:100%">
            <h5 class="w3-opacity">&nbsp; $6</h5> <button class="w3-button w3-right w3-grey w3-margin-bottom">Purchase</button>
            <p class="w3-large">&nbsp;<a href="cart"></a><i class="fa fa-shopping-cart" style="font-size:30px;color:black;"> </i> </p>
            <img src="https://s3.envato.com/files/277740073/Sierra%20Nevada_191217182010_0.jpg" style="width:100%">
            <h5 class="w3-opacity">&nbsp; $5</h5> <button class="w3-button w3-right w3-grey w3-margin-bottom">Purchase</button>
            <p class="w3-large">&nbsp;<a href="cart"></a><i class="fa fa-shopping-cart" style="font-size:30px;color:black;"> </i> </p>
            <img src="https://s3.envato.com/files/277711224/_DSC2666.jpg" style="width:100%">
            <h5 class="w3-opacity">&nbsp; $13</h5> <button class="w3-button w3-right w3-grey w3-margin-bottom">Purchase</button>
            <p class="w3-large">&nbsp;<a href="cart"></a><i class="fa fa-shopping-cart" style="font-size:30px;color:black;"> </i></p>
            <img src="https://s3.envato.com/files/277751217/376_150_T13A5833.jpg" style="width:100%">
            <h5 class="w3-opacity">&nbsp; $3</h5> <button class="w3-button w3-right w3-grey w3-margin-bottom">Purchase</button>
            <p class="w3-large">&nbsp;<a href="cart"></a><i class="fa fa-shopping-cart" style="font-size:30px;color:black;"> </i> </p>
            <img src="https://s3.envato.com/files/277729763/FMX_1768.jpg" style="width:100%">
            <h5 class="w3-opacity">&nbsp; $11</h5> <button class="w3-button w3-right w3-grey w3-margin-bottom">Purchase</button>
            <p class="w3-large">&nbsp;<a href="cart"></a><i class="fa fa-shopping-cart" style="font-size:30px;color:black;"> </i> </p>
            <img src="https://s3.envato.com/files/277714537/ENGL3433.jpg" style="width:100%">
            <h5 class="w3-opacity">&nbsp; $1.5</h5> <button class="w3-button w3-right w3-grey w3-margin-bottom">Purchase</button>
            <p class="w3-large">&nbsp;<a href="cart"></a><i class="fa fa-shopping-cart" style="font-size:30px;color:black;"> </i></p>
            <img src="https://s3.envato.com/files/260695976/IMG_1203_is.jpg" style="width:100%">
            <h5 class="w3-opacity">&nbsp; $7</h5> <button class="w3-button w3-right w3-grey w3-margin-bottom">Purchase</button>
            <p class="w3-large">&nbsp;<a href="cart"></a><i class="fa fa-shopping-cart" style="font-size:30px;color:black;"> </i> </p>
        </div>
    
        <div class="w3-third">
            <img src="https://s3.envato.com/files/237286317/bieszcadki-23.jpg" style="width:100%">
            <h5 class="w3-opacity">&nbsp; $9</h5> <button class="w3-button w3-right w3-grey w3-margin-bottom">Purchase</button>
            <p class="w3-large">&nbsp;<a href="cart"></a><i class="fa fa-shopping-cart" style="font-size:30px;color:black;"> </i> </p>
            <img src="https://s3.envato.com/files/276571671/sprouts-3.jpg" style="width:100%">
            <h5 class="w3-opacity">&nbsp; $1</h5> <button class="w3-button w3-right w3-grey w3-margin-bottom">Purchase</button>
            <p class="w3-large">&nbsp;<a href="cart"></a><i class="fa fa-shopping-cart" style="font-size:30px;color:black;"> </i> </p>
            <img src="https://s3.envato.com/files/237286303/bieszcadki-21.jpg" style="width:100%">
            <h5 class="w3-opacity">&nbsp; $4</h5> <button class="w3-button w3-right w3-grey w3-margin-bottom">Purchase</button>
            <p class="w3-large">&nbsp;<a href="cart"></a><i class="fa fa-shopping-cart" style="font-size:30px;color:black;"> </i> </p>
            <img src="https://s3.envato.com/files/276571707/cheese%20wheel-1.jpg" style="width:100%">
            <h5 class="w3-opacity">&nbsp; $7</h5> <button class="w3-button w3-right w3-grey w3-margin-bottom">Purchase</button>
            <p class="w3-large">&nbsp;<a href="cart"></a><i class="fa fa-shopping-cart" style="font-size:30px;color:black;"> </i> </p>
            <img src="https://s3.envato.com/files/277692355/DSC_7163.jpg" style="width:100%">
            <h5 class="w3-opacity">&nbsp; $8.6</h5> <button class="w3-button w3-right w3-grey w3-margin-bottom">Purchase</button>
            <p class="w3-large">&nbsp;<a href="cart"></a><i class="fa fa-shopping-cart" style="font-size:30px;color:black;"> </i> </p>
            <img src="https://s3.envato.com/files/277692349/DSC_7099.jpg" style="width:100%">
            <h5 class="w3-opacity">&nbsp; $2.5</h5> <button class="w3-button w3-right w3-grey w3-margin-bottom">Purchase</button>
            <p class="w3-large">&nbsp;<a href="cart"></a><i class="fa fa-shopping-cart" style="font-size:30px;color:black;"> </i> </p>
        </div>
    </div>
    
    <!-- End Page Content -->
</div>
    
    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin-top:128px"> 
    
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
      <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
    </footer>
     