 


<!-- Navbar (sit on top) -->
<div class="w3-top">

    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="#home" class="w3-bar-item w3-button"><b>DONALD</b> DESIGNS </a>
      
    
      <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      
      
      
      
      
        <a href="home" class="w3-bar-item w3-button">Home</a> 
        <a href="cart" class="w3-bar-item w3-button">Purchase</a>
        <a href="login" class="w3-bar-item w3-button">Sign In</a>
      </div>
    </div> 
  </div> 
  
  <div class="w3-container w3-padding-64 w3-white" id="us">
    <div class="w3-content">
      <h1 class="w3-center w3-text-black" ><b>Food Delivery Cart </b></h1>
      <h3 class="w3-center w3-text-black" ><b>Home</b></h3>
      <img class="w3-round w3-grayscale-min" src="\assets\online food delivery 2\Home.png" style="width:90%;margin:32px 0">
      <p>Enjoy the exclusivity of Divi and start the hype early with an outstanding wedding website. On the other hand, if you are an event organizer or specialize in wedding photography, you can build a page for those, too, with Divi. You have a ton of options and possibilities when it comes to the super powerful, versatile and highly adaptive Divi. Approach designing and developing a page with an open mind, as you will have no limits when working with Divi.
  
  Of course, you can speed things up by selecting the appropriate demo and go from there. The easiest way of establishing a wedding-related website is by keeping the demo as is, adding your material and pressing the launch button. It can truly be a simple as it sounds. Moreover, at any time, you can make improvements and corrections to Divi and personalize the experience accordingly..  </p><br>
     <!-- <p class="w3-center"><a href="#wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">Wedding Details</a></p> -->
     </div> 
  </div>

  
 
  <div class="w3-container w3-padding-64 w3-white" id="us">
    <div class="w3-content">
      <h3 class="w3-center w3-text-black" ><b>Menu </b></h3>
      <img class="w3-round w3-grayscale-min" src="\assets\online food delivery 2\Menu.png" style="width:90%;margin:32px 0">
      <p>Enjoy the exclusivity of Divi and start the hype early with an outstanding wedding website. On the other hand, if you are an event organizer or specialize in wedding photography, you can build a page for those, too, with Divi. You have a ton of options and possibilities when it comes to the super powerful, versatile and highly adaptive Divi. Approach designing and developing a page with an open mind, as you will have no limits when working with Divi.
  
  Of course, you can speed things up by selecting the appropriate demo and go from there. The easiest way of establishing a wedding-related website is by keeping the demo as is, adding your material and pressing the launch button. It can truly be a simple as it sounds. Moreover, at any time, you can make improvements and corrections to Divi and personalize the experience accordingly..  </p><br>
     <!-- <p class="w3-center"><a href="#wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">Wedding Details</a></p> -->
   </div> 
  </div>
  <div class="w3-container w3-padding-64 w3-white" id="us">
    <div class="w3-content">
      <h3 class="w3-center w3-text-black" ><b>Login Details </b></h3>
      <img class="w3-round w3-grayscale-min" src="\assets\online food delivery 2\Login.png" style="width:90%;margin:32px 0">
      <p>Enjoy the exclusivity of Divi and start the hype early with an outstanding wedding website. On the other hand, if you are an event organizer or specialize in wedding photography, you can build a page for those, too, with Divi. You have a ton of options and possibilities when it comes to the super powerful, versatile and highly adaptive Divi. Approach designing and developing a page with an open mind, as you will have no limits when working with Divi.
  
  Of course, you can speed things up by selecting the appropriate demo and go from there. The easiest way of establishing a wedding-related website is by keeping the demo as is, adding your material and pressing the launch button. It can truly be a simple as it sounds. Moreover, at any time, you can make improvements and corrections to Divi and personalize the experience accordingly..  </p><br>
     <!-- <p class="w3-center"><a href="#wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">Wedding Details</a></p> -->
     
    </div>
  </div>

  <div class="w3-container w3-padding-64 w3-white" id="us">
    <div class="w3-content">
      <h3 class="w3-center w3-text-black" ><b>About Us </b></h3>
      <img class="w3-round w3-grayscale-min" src="\assets\online food delivery 2\About Us.png" style="width:90%;margin:32px 0">
      <p>Enjoy the exclusivity of Divi and start the hype early with an outstanding wedding website. On the other hand, if you are an event organizer or specialize in wedding photography, you can build a page for those, too, with Divi. You have a ton of options and possibilities when it comes to the super powerful, versatile and highly adaptive Divi. Approach designing and developing a page with an open mind, as you will have no limits when working with Divi.
  
  Of course, you can speed things up by selecting the appropriate demo and go from there. The easiest way of establishing a wedding-related website is by keeping the demo as is, adding your material and pressing the launch button. It can truly be a simple as it sounds. Moreover, at any time, you can make improvements and corrections to Divi and personalize the experience accordingly..  </p><br>
     <!-- <p class="w3-center"><a href="#wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">Wedding Details</a></p> -->
    </div> 
  </div>
  
  <div class="w3-container w3-padding-64 w3-white" id="us">
    <div class="w3-content">
      <h3 class="w3-center w3-text-black" ><b>Contact </b></h3>
      <img class="w3-round w3-grayscale-min" src="\assets\online food delivery 2\Contact.png" style="width:90%;margin:32px 0">
      <p>Enjoy the exclusivity of Divi and start the hype early with an outstanding wedding website. On the other hand, if you are an event organizer or specialize in wedding photography, you can build a page for those, too, with Divi. You have a ton of options and possibilities when it comes to the super powerful, versatile and highly adaptive Divi. Approach designing and developing a page with an open mind, as you will have no limits when working with Divi.
  
  Of course, you can speed things up by selecting the appropriate demo and go from there. The easiest way of establishing a wedding-related website is by keeping the demo as is, adding your material and pressing the launch button. It can truly be a simple as it sounds. Moreover, at any time, you can make improvements and corrections to Divi and personalize the experience accordingly..  </p><br>
     <!-- <p class="w3-center"><a href="#wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">Wedding Details</a></p> -->
  
    </div>
  </div>
  