<!-- <!DOCTYPE html>
<html>
<title>W3.CSS Template</title> -->


<!-- Navbar (sit on top) -->
<div class="w3-top">

    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="" class="w3-bar-item w3-button"><b>DONALD</b>  DESIGNS </a>
      
        <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
      
      
      
      
      
        <!-- <a href="#projects" class="w3-bar-item w3-button">Home</a> -->
        <a href="#about" class="w3-bar-item w3-button">About Us</a>
        <a href="#contact" class="w3-bar-item w3-button">Contact </a>
        <!-- <a href="login" class="w3-bar-item w3-button">Sign In</a> -->
      </div>
    </div>
  </div>
  
  <!-- Header -->
  
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="#projects">Website Designs</a>
    <a href="photos">Photos</a>
    <a href="register">Register Here</a>
    <!-- <a href="#contact">Contact</a> -->
    <a href="login">Sign In</a>
  </div>
  
  <h2>Animated Sidenav Example</h2>
  
  <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; </span>

  
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
	
    <img class="w3-image" src="https://www.joomlashine.com/images/easyblog_images/148381/shutterstock_151359191-Converted.jpg"  width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Donald</b></span> <span class="w3-hide-small w3-text-light-grey">DESIGNS</span></h1>
    <h2>Everything You Need To Get Creative Projects Done..</h2>  
    </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Our Products</h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
          <div class="container">
              <img src="\assets\OnlineFoodDelivery\Home.png" alt="House" style="width:200%">
              <div class="overlay">
                  <a href="onlinefooddelivery"><div class="text">Online Food Deliverys</div></a>
              </div>
            </div>
	 
	  </div>
    </div>

    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
          <div class="container">
              <img src="\assets\GroceryShooping\Login.png" alt="House" style="width:170%">
              <div class="overlay">
                  <a href="onlinegroceryshopping"><div class="text">Grocery Shopping</div></a>
              </div>
            </div>
	 
    </div>
	</div>
	<div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
            <div class="container">
                    <img src="\assets\ContentManagment\ScribbleUpHome.png" alt="House" style="width:200%">
                    <div class="overlay">
                        <a href="contentmanagement"><div class="text">Content Management</div></a>
                    </div>
                  </div>
	 
    </div>
	</div>
	 <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
          
            <div class="container">
                    <img src="\assets\OnlineBanking\Userhomepage.png" alt="House" style="width:150%">
                    <div class="overlay">
                        <a href="onlinebanking"><div class="text">Online Banking</div></a>
                    </div>
                  </div>
	 
	 
	 </div>
      </div>
   
    </div>
	
  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
            <div class="container">
                    <img src="\assets\Automotive Parts\Home.png" alt="House" style="width:200%">
                    <div class="overlay">
                        <a href="automativeparts"><div class="text">e-commerce </div></a>
                    </div>
                  </div>
	 
	
	  </div>
    </div>

<div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
          <div class="container">
            <img src="\assets\online food delivery 2\Home.png" alt="House" style="width:200%">
            <div class="overlay">
                <a href="fooddelivery"><div class="text">Food Delivery </div></a>
            </div>
          </div>
	
    </div>
	</div>
	
	
<div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
            <div class="container">
                    <img src="\assets\NetBanking\home.png" alt="House" style="width:200%">
                    <div class="overlay">
                        <a href="netbanking"><div class="text">Net Banking </div></a>
                    </div>
                  </div>
	  
    </div>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <div class="w3-display-container">
            <div class="container">
                    <img src="\assets\GroceryCart\Category.png" alt="House" style="width:200%">
                    <div class="overlay">
                        <a href="grocerycart"><div class="text">Grocery Cart </div></a>
                    </div>
                  </div>

  </div>
</div>
<div class="w3-row-padding">
<div class="w3-col l3 m6 w3-margin-bottom">
  <div class="w3-display-container">
        <div class="container">
                <img src="\assets\Online Notes\IntoductionPage.png" alt="House" style="width:200%">
                <div class="overlay">
                    <a href="onlinenotes"><div class="text">Online Notes</div></a>
                </div>
              </div>

</div>
</div>
<div class="w3-col l3 m6 w3-margin-bottom">
    <div class="w3-display-container">
            <div class="container">
                    <img src="\assets\MultiClient Webservices\Options.png" alt="House" style="width:200%">
                    <div class="overlay">
                        <a href="multiclientservices"><div class="text">MultiClient Webservices</div></a>
                    </div>
                  </div>
  
  </div>
</div>
<div class="w3-col l3 m6 w3-margin-bottom">
    <div class="w3-display-container">
            <div class="container">
                    <img src="\assets\Automotive Parts\Cart.png" alt="House" style="width:200%">
                    <div class="overlay">
                        <a href="automativeparts"><div class="text">e-commerce</div></a>
                    </div>
                  </div>
  
  </div>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
            <div class="container">
                    <img src="\assets\OnlineFoodDelivery\Login.png" alt="House" style="width:200%">
                    <div class="overlay">
                        <a href="onlinefooddelivery"><div class="text">Online Food Delivery</div></a>
                    </div>
                  </div>
  
	  
	  </div>
    </div>
  </div>
</div>

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About Us</h3>
    <p>We are proudly based in Melbourne, Australia, but our people and community live and work from all over the world.

        We believe good ideas deserve a chance to grow. We believe people deserve to earn a living doing what they love. We believe in making it easy to get things done.
    </p>
      <p>  It is a collection of themed marketplaces, where creatives sell digital assets to help bring your ideas to life. Buy anything from Photoshop actions and video footage to advanced WordPress themes and plugins. </p>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://envato.com/static/media/smiling-man-at-desk.c332a045.jpg" alt="John" style="width:100%">
      <h3>John Doe</h3>
      <p class="w3-opacity">CEO & Founder</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
     
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://envato.com/static/media/girl-in-envato-shirt.cf0d6f85.jpg" alt="Jane" style="width:100%">
      <h3>Jane Doe</h3>
      <p class="w3-opacity">Manager</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
     
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://envato.com/static/media/man-at-whiteboard.92c4ef38.jpg" alt="Mike" style="width:100%">
      <h3>Mike Ross</h3>
      <p class="w3-opacity">Designer</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://cdn.psychologytoday.com/sites/default/files/styles/article-inline-half-caption/public/field_blog_entry_images/2018-09/shutterstock_648907024.jpg?itok=0hb44OrI" alt="Dan" style="width:100%">
      <h3>Dan Star</h3>
      <p class="w3-opacity">Developer</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <!-- <p><button class="w3-button w3-light-grey w3-block">Contact</button></p> -->
    </div>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Lets get in touch and talk about your next project.</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit" (click)="msg()">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>
  
<!-- Image of location/map -->
<div class="w3-container">
  <img src="https://www.ydesignservices.com/wp-content/uploads/2016/07/Googlemap-600x551.jpg" class="w3-image" style="width:100%">
</div>

<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>


